.span {
  color: aqua;
  font-size: 30px;
  font-weight: 800;
}

.selectWrapper {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.input {
  border: aqua 3px solid;
  max-width: 100px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.incorrectInput {
  border: red 3px solid;
  background-color: rgb(219, 91, 119);
}
